<!doctype html>
<html lang="en">

<head>
    <%- include('../public/partials/head'); %>
        <title>
            <%= title%>
        </title>

</head>

<body>
    <%- include('../public/partials/studentNav'); %>
        <br />
        <span id='bookingId' hidden>
            <%= JSON.stringify(bookingId); %>
        </span>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 id="Bd">Booking Details</h1>

                </div><br>
                <div class="col-md-4 d-flex justify-content-lg-end">
                    <button type="submit" class="btn btn-danger btn-lg" id="delet">Cancel Booking</button>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-4">
                    <label for="Rname" class=" form-label col-form-lable">Room name</label>
                    <select class="form-select" id="Rname" disabled>
                    </select>
                    <br>
                    <label for="Rlocation" class=" form-label col-form-lable">Location</label>
                    <input type="text" class="form-control" id="Rlocation" disabled readonlyS>
                </div>

                <div class="col-md-4">
                    <form role="form">
                        <label for="Rdate" class=" form-label ">Date</label>
                        <input type="date" class="form-control" id="Rdate" disabled>
                        </br>

                        <label for="Rdate" class=" form-label ">Status</label>
                        <input type="text" class="form-control" id="status" disabled />
                        </br>
                    </form>
                </div>

                <div class="col-md-4">
                    <form role="form">
                        <label for="amenities" class="form-label">Amenities</label>
                        <ul class="list" id="Ramenities">
                        </ul>
                    </form>
                </div>

            </div>

            <form class="row" role="form">
                <div class="col-md-4">

                    <label for="Rcapacity" class=" form-label col-form-lable">Capacity</label>
                    <input type="text" class="form-control" id="Rcapacity" value="" disabled readonlyS>
                    <br>
                    <label for="Rprice" class="form-label col-form-lable">Gross Price</label>
                    <span>$<input type="text" class="form-control" id="grossPrice" value="" disabled readonlyS></span>
                    <br>
                    <label for="Rprice" class="form-label col-form-lable">Net Price</label>
                    <span>$<input type="text" class="form-control" id="netPrice" value="" disabled readonlyS></span>
                </div>

                <div class="col-md-4 col-md-offset-1">
                    <label for="RsT" class=" form-label">Start Time</label>
                    <input type="text" class="form-control timepicker" id="RsT" disabled>
                    </br>

                    <label for="ReT" class=" form-label">End Time</label>
                    <input type="text" class="form-control timepicker" id="ReT" value="" disabled>
                    </br>
                    <label for="Rcapacity" class=" form-label col-form-lable">Promotional Code</label>
                    <select class="form-select" id="Rprom" value="" disabled>
                    </select>


                    <br><br>
                </div>
            </form>


            <div class="d-grid gap-2  d-md-flex justify-content-md-center">
                <input type="button" class="btn btn-primary btn-lg" id="edit" value="Edit" />
                <a class="btn btn-secondary btn-lg" href="/viewBookings" id="back" value="Back">Back</a>
            </div>
        </div>

        </div>

        <%- include('../public/partials/scripts'); %>
            <script type="text/javascript" src="/javascript/bookingDetails.js"></script>
</body>

</html>